BODY, TD {
	font-family : Verdana,Arial,sans-serif;
	font-size: 12px;
}

H1.Larger {
	color: #99FFFF;
	font-weight : bolder;
	font-size : large;
; font-family: BordeauxHeavy
}

H1 {
	color: #002F8A;
	font-weight : bold;
}

H2 {
	color: #002F8A;
	font-weight : bold;
}

H3 {
	color: #002F8A;
	font-weight : bold;
}

H4 {
	color: #002F8A;
	font-weight : bold;
}

H5 {
	color: #002F8A;
	font-weight : bold;
}

H6 {
	color: #002F8A;
	font-weight : bold;
}

A {
	text-decoration: none
	font-style : normal;	
	font-weight : bold;
	color: #002F8A;
	background: #F7FAFC;
	border-right: #F7FAFC 1pt solid;
	border-top: #F7FAFC 1pt solid;
	border-left: #F7FAFC 1pt solid;
	border-bottom: #F7FAFC 1pt solid;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
}

A:Hover {
	text-decoration: none
	font-style : normal;
	font-weight : bold;
	color: WHITE;
	background: #91B8D6;
	border-right: #003366 1pt solid;
	border-top: #003366 1pt solid;
	border-left: #003366 1pt solid;
	border-bottom: #003366 1pt solid;
}

Pre {
	background : #F8FAFC;
}

Pre.HL {
	background : #FFFFF6;
}